
.welcome-page {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
  background: #a1c4fd ;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 175px
  
}

.welcome-card {
  width: 100%;           
  max-width: 1000px;      
  background-color: #ffffff;
  padding: 50px 40px;     
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.welcome-title {
  font-size: 44px;
  color: #0a0909;
  margin-bottom: 30px;
  font-weight: bold;
}


.welcome-text {
  font-size: 24px;
  color: #0a045f;
  line-height: 1.7;
  margin-bottom: 25px;
}


.login-button-wrapper {
  margin-top: 20px;
}